// Base
html {
    font-size: 62.5%;
    @media (max-width: $lg) {
        font-size: 50%;
    }
}

body {
    @include primaryFont;
    font-size: var(--body-font-size);
    color: var(--font-color);
    background-color: #fff;
}

.container {
    max-width: var(--container-width);
    margin: auto;

    padding-right: 15px;
    padding-left: 15px;
}
.container-full {
    max-width: var(--container-full-width);
    margin: auto;

    padding-right: 15px;
    padding-left: 15px;
}


::selection {
    background-color: var(--selection);
}

img {
    image-rendering: optimizeQuality;
    image-rendering: -webkit-optimize-contrast;
}
strong {
    font-weight: 900;
}

.section {
    padding: 5rem 0;
    position: relative;
    &.gray {
        background: #F6FDFF;
    }
}

p {
    margin-bottom: 2rem;
}

// Tags
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-weight: 900;
    color: var(--heading-color);
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

// H 
h1, .h1 {
    font-size: 2.7vw;
    @media (max-width: $sm) {
        font-size: 5.7vw;
    }
}
h2,.h2 {
    font-size: 4.2rem;
    @media (max-width: $sm) {
        font-size: 7.4vw;
    }
}
h3,.h3 {
    font-size: 2rem;
}
