.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}
.primary {
    color: var(--primary);
}
.grid {
    display: grid;       
}
.small {
    font-size: 1.2rem;
    letter-spacing: normal;
}
