#menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1001;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;

  .menu-icon {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;

    .menu-bar {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.5 ease-in-out;
    }
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;

  &.active {
    display: block;
  }

  .menu-bg {
    pointer-events: none;
  
    .menu-bg-box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
  
      .menu-bg__inner {
        width: 100%;
        height: 10%;
        background: #dfe4ea;
        transform: scaleX(0);
        transform-origin: right;
      }
  
      .menu-bg__inner2 {
        width: 100%;
        height: 10%;
        background: linear-gradient(90deg, #237EFD 0%, #26D4FF 100%);
        transform: scaleX(0);
        transform-origin: left;
      }
    }
  }

  .links-to-top {
    z-index: 1000;
  }
  
  .menu-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  
    .mobile-menu-nav {
      height: 80%;
      width: 100%;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 2.6rem;
      color: #fff;
  
      li {
        margin-bottom: 3rem;
        
        a {
          position: relative;
          display: inline-block;         
        }
      }
      .sub-menu {
        left: 20%;
      }
    }
    .navbar-info {
      flex-grow: 0;
      margin-top: auto;
    }
  }
}