:root {
    --primary: #2484FE;
    --secondary: #08D586;
    --black: #3F4853;

    --selection: #08D586;
    --font-color: #3F4853;

    --body-font-size: 1.4rem;
    --container-width: 1200px;
    --container-full-width: 1750px;
}

$lg:  1199.98px;
$md:  991.98px;
$sm:  767.98px;
$xs:  575.98px;